<header id="header" class="glue">
    <div class="row clearfix">
        <div class="little-head lefter">
            <div id="Login_PopUp_Link" class="sign-btn tbutton small">
                <span>Sign In</span>
            </div>

            <div class="social social-head">
                <a href="http://twitter.com/behzadg1" class="bottomtip" title="Follow us on Twitter" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
                <a href="http://fb.com/theme20" class="bottomtip" title="Like us on Facebook" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
                <a href="https://plus.google.com/u/0/104807493509867599773" class="bottomtip" title="GooglePlus" target="_blank">
                    <i class="icon-google-plus"></i>
                </a>
                <a href="http://instagram.com/" class="bottomtip" title="instagram" target="_blank">
                    <i class="icon-instagram"></i>
                </a>
                <a href="http://dribbble.com/behzadg" class="bottomtip" title="Dribbble" target="_blank">
                    <i class="icon-dribbble"></i>
                </a>
                <a href="https://soundcloud.com/behzad-gh" class="bottomtip" title="Soundcloud" target="_blank">
                    <i class="icon-cloud"></i>
                </a>
                <a href="http://reverbnation.com/" class="bottomtip" target="_blank" title="Reverbnation">
                    <i class="icon-star"></i>
                </a>
                <a href="http://youtube.com/" class="bottomtip" target="_blank" title="YouTube">
                    <i class="icon-youtube-play"></i>
                </a>
                <a href="http://youtube.com/" class="bottomtip" target="_blank" title="Flickr">
                    <i class="icon-flickr"></i>
                </a>
                <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank">
                    <i class="icon-linkedin"></i>
                </a>
            </div>
            <!-- end social -->

            <div class="search">
                <form action="http://d.theme20.com/remix_html/search.html" id="search" method="get">
                    <input id="inputhead" name="search" type="text" onfocus="if (this.value=='Start Searching...') this.value = '';" onblur="if (this.value=='') this.value = 'Start Searching...';"
                           value="Start Searching..." placeholder="Start Searching ...">
                    <button type="submit">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <!-- end form -->
            </div>
            <!-- search -->
        </div>
        <!-- little head -->
    </div>
    <!-- row -->

    <div class="headdown">
        <div class="row clearfix">
            <div class="logo bottomtip" title="Best Pakistani Music Directory">
                <a href="#">
                    <img src="~/Content/images/pklogo.png" alt="Best Pakistani Music Directory">
                </a>
            </div>
            <!-- end logo -->

            <nav>
                <ul class="sf-menu">
                    <li class="current selectedLava">
                        @Html.ActionLink("Home", "", "Home")


                    </li>
                    <li>
                        @Html.ActionLink("Artists", "", "Artists")
                    </li>
                    <li>
                        @Html.ActionLink("Albums", "", "Albums")
                    </li>

                    <li>
                        @Html.ActionLink("Blog", "", "Blog")
                    </li>
                    <li>
                       
                        @Html.ActionLink("About", "", "About")
                    </li>
                </ul>
                <!-- end menu -->
            </nav>
            <!-- end nav -->
        </div>
        <!-- row -->
    </div>
    <!-- headdown -->
</header>