@using PakMusicRevolution.Models
@model Artist

@{
    ViewBag.Title = "SingleArtist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="under_header">
    <img src="~/Content/images/bg/breadcrumbs14.png" alt="">
</div><!-- under header -->
<div class="page-content back_to_up">
    <div class="row clearfix mb">
        <div class="breadcrumbIn">
            <ul>
                <li><a href="index-2.html" class="toptip" title="Homepage"> <i class="icon-home"></i> </a></li>
                <li><a href="mp3s.html"> MP3s </a></li>
                <li><a href="mp3s.html"> Alexander Doe </a></li>
                <li> Missing You </li>
            </ul>
        </div><!-- breadcrumb -->
    </div><!-- row -->

    <div class="row row-fluid clearfix mbf artist_page">
        <div class="span8 posts">
            <div class="def-block">
                <div class="post row-fluid clearfix">
                    <div class="single_artist" style="width: 100%;display: inline-block;">
                        <div class="profile" style="width: 30%;display: inline;">
                            <img class="fll" src="@Model.PROFILE_URL" />
                        </div>
                        <div class="meta_albums" style="width: auto; display: inline; color: white !important;">

                            <h1 class="modifiedh1">@Model.artist_name</h1>
                            <p>@Model.artist_bio</p>
                            <p style="margin-bottom: 10px !important; ">Total Songs: @Model.SONGs.Count</p>
                            <p>Total Albums: @Model.Albums.Count</p>

                        </div>

                    </div>
                    <div class="artist-bio" style="padding-bottom: 20px;"><p></p></div>
                @foreach (Album album in Model.Albums)
                {
                    <div class="example">
                        <ul class="playlist">
                            @foreach (SONG song in Model.SONGs)
                            {
                                <li data-cover="http://digital.akauk.com/utils/musicPlayer/data/John-Wesley.jpg" data-artist="@Model.artist_name">
                                    <a href="http://digital.akauk.com/utils/musicPlayer/data/Tequila 10 Seconds.mp3">@song.SONG_NAME</a>
                                </li>
                            }

                        </ul>
                    </div>   
                }

                    
                    
                    
                    
                    

                    <p>
                        <span> Tags: </span>
                        <a href="#" class="#"> Alexander doe </a>,
                        <a href="#" class="#"> Remix </a>
                    </p><!-- tags -->
                </div><!-- post -->
            </div><!-- def block -->
        </div><!-- span8 posts -->

        <div class="span4 sidebar">
            <div class="def-block widget">
                <h4> Popular By <span>Alexander Doe</span> </h4><span class="liner"></span>
                <div class="widget-content row-fluid">
                    <div class="scroll-oneperson" style="height: 420px;">
                        <div class="content">
                            <ul class="tab-content-items">
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander1.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Don’t go mary ( Remix )</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 922,250 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander2.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">That's My Kind Of Night </a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 838,879 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander3.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Magna Carta... Holy Grail </a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 772,240 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander4.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">If you love me</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 668,471 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander5.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Burning For you</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 550,105 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander6.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Skyfool ( Dubstep Remix )</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 441,748 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander7.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Don’t go mary ( Remix )</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 382,250 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander8.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">That's My Kind Of Night </a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 228,879 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander9.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Magna Carta... Holy Grail </a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 122,240 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander10.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">If you love me</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 80,471 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander11.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Burning For you</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 80,105 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander12.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Skyfool ( Dubstep Remix )</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 60,748 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander13.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Magna Carta... Holy Grail </a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 509,240 Plays </span>
                                </li>
                                <li>
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/alexander14.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">If you love me</a></h3>
                                    <span> Alexander Doe </span>
                                    <span> 48,471 Plays </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- widget content -->
            </div><!-- def block widget popular items -->

            <div class="def-block widget">
                <h4> Ads </h4><span class="liner"></span>
                <div class="widget-content tac">
                    <a href="#" title="Advertise"><img src="images/ads1.gif" alt="#"></a>
                </div><!-- widget content -->
            </div><!-- def block widget ads -->

        </div><!-- span4 sidebar -->
    </div><!-- row clearfix -->
</div><!-- end page content -->